.Cbutton{
    background-color: gold;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.Cbutton:hover{
    background-color: goldenrod;
    cursor: pointer;
    transition: 0.3s ease-in;
}